body
{
	color: #80792B;
	background-image:url("/Yousap/RES/img/bg-greenSnowflake.jpg");
}		
h1
{
	margin:0px;	
	text-align:center;
}
#content
{
	margin-bottom:10px;
	background-color: rgb(135, 216, 222);
	border-width:1;
	border-style:outset;	
	background-color: #BFB541;
	margin-left: auto;
	margin-right: auto;
	margin-down:10px;
}
#content.message
{
	display:inline-block;
}
#content.message-header
{
	display:block;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	margin:0;
	width:auto;
	text-align:left;
	background-color:#82BF82;
	border-style:none; 
}
#content.reply-header
{
	margin-left:0;
	display:block;
	padding-left:0px;
	width:auto;
	height:auto;
	margin-left:1px;
	border-style:none; 
	background-color:#79B379;
	text-align:left;
}
span
{
	margin-left:10px;
}
span.username
{	
	margin-left:0px;
	float:left;
	display:inline;
	font-weight:bold;
	color:#666022;
}
span.message-text
{
	padding: 15px;
	display:block;
}